@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;1,9..40,400&display=swap");

:root {
    font-size: 16px;
}

body {
    font-family: "DM Sans", sans-serif !important;
}

/* sidebar */

.accordion {
    margin-top: 1.5rem;
    margin-left: 2.2rem;
}

.accordion-button {
    display: flex;
    padding: 0.625rem 0.75rem;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
    border-radius: 0.375rem;
    background: var(--neutral-10, #fff);
    color: var(--neutral-90, #404040);
    font-family: DM Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
    background-color: white !important;
    color: black !important;
    box-shadow: none !important;

    /* 142.857% */
}

.accordion-button::after {
    background-image: none !important;
    content: url("../icon/chevron-down.svg") !important;
}

.accordion-item {
    border: none;
}

.accordion-body {
    color: var(--neutral-90, #404040);
    font-family: DM Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
    /* 142.857% */

    padding: 0px !important;

    display: flex;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
}
